@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap");
body {
  font-family: "Poppins";
  background-color: #eae8e7;
  margin: 0px;
  background-image: url("./images/blob1.png") no-repeat;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #eae8e7;
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  width: 2000px;
  height: 2000px;
  border-radius: 50%;
  background: linear-gradient(-45deg, #0d0a06, #0d0a06);
  top: -10%;
  right: 48%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 6;
  -webkit-transition: 1.8s ease-in-out;
  transition: 1.8s ease-in-out;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  left: 75%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  z-index: 5;
  -webkit-transition: 1s 0.7s ease-in-out;
  transition: 1s 0.7s ease-in-out;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 5rem;
  overflow: hidden;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -webkit-transition: 0.2s 0.7s ease-in-out;
  transition: 0.2s 0.7s ease-in-out;
}

form.sign-in {
  z-index: 2;
}

form.sign-up {
  z-index: 1;
  opacity: 0;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 300px;
  width: 100%;
  height: 45px;
  background-color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
      grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
}

.input-field i {
  text-align: centre;
  line-height: 45px;
  color: #acacac;
  font-size: 1.1rem;
  padding-left: 1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::-webkit-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

.input-field input:-ms-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

.input-field input::-ms-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.btn {
  width: 150px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  background-color: #0d0a06;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 0.5em;
}

.btn:hover {
  background-color: #ea7186;
  color: #0d0a06;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.panels-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  z-index: 7;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.left-panel .container img {
  width: 22rem;
  margin-left: -9.5rem;
  margin-right: 2.5rem;
}

.left-panel .container h3 {
  text-align: right;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.right-panel img {
  width: 22rem;
  margin-left: -9.5rem;
}

.right-panel h3 {
  margin-right: 2rem;
}

.panel .content {
  font-family: "Roboto", sans-serif;
  color: #fff;
  -webkit-transition: 0.9s 0.6s ease-in-out;
  transition: 0.9s 0.6s ease-in-out;
}

.panel .content h3 {
  font-weight: 400;
  line-height: 1;
  font-size: 1.1rem;
  margin: 0px;
  margin-top: -1.25rem;
}

.panel h3 strong {
  color: #ea7186;
  font-weight: 700;
  cursor: pointer;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.image {
  width: 100%;
  -webkit-transition: 1.1s 0.4s ease-in-out;
  transition: 1.1s 0.4s ease-in-out;
}

.right-panel .content,
.right-panel .image {
  -webkit-transform: translateX(800px);
          transform: translateX(800px);
}

.container.sign-up-mode::before {
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  -webkit-transform: translateX(-800px);
          transform: translateX(-800px);
}

.container.sign-up-mode .right-panel .content,
.container.sign-up-mode .right-panel .image {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-in {
  z-index: 1;
  opacity: 0;
}

.container.sign-up-mode form.sign-up {
  z-index: 2;
  opacity: 1;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .container::before {
    width: 1500px;
    height: 1500px;
    left: 30%;
    bottom: 68%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    right: initial;
    top: initial;
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
  }
  .signin-signup {
    width: 100%;
    left: 50%;
    top: 95%;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
    -webkit-transition: 1s 0.8s ease-in-out;
    transition: 1s 0.8s ease-in-out;
  }
  .panels-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
  }
  .panel {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.5rem 8%;
  }
  .panel .content {
    padding-right: 15%;
    -webkit-transition: 0.9s 0.8s ease-in-out;
    transition: 0.9s 0.8s ease-in-out;
  }
  .panel h3 {
    font-size: 1.2rem;
  }
  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }
  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }
  .image {
    width: 200px;
    -webkit-transition: 0.9s 0.6s ease-in-out;
    transition: 0.9s 0.6s ease-in-out;
  }
  .left-panel {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .right-panel {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .right-panel .content,
  .right-panel .image {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  .container.sign-up-mode::before {
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }
  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  .container.sign-up-mode .signin-signup {
    top: 5%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    left: 50%;
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }
  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container.sign-up-mode::before {
    bottom: 28%;
    left: 50%;
  }
}

/*.homepage{
    background-color: #EAE8E7;
}

.searchbar {
    margin: 0;
}

*/
.Image {
  width: 8em;
  margin-left: 4em;
}

/*
.fasearch {
    text-align: centre;
    line-height: 45px;
    color: #acacacde;
    font-size: 1.1rem;
    padding-top: 0.3em;
    padding-left: 0.3em;
}

.input-search {
    
    max-width: 150px;
    width: 100%;
    height: 30px;
    background-color: #f0f0f0da;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
}

.input-search input {
    background: none;
    outline: none;
    border: none;
    padding-left: 0.3em;
    line-height: 1;
    font-weight: 600;
    font-size: 1rem;
    color: rgba(68, 68, 68, 0.945);
}

.input-search input::placeholder {
    color: rgba(170, 170, 170, 0.849);
    font-weight: 500;
    padding-top: 0.2rem;
    padding-left: 0.5em;
}

.fabell {
    text-align: centre;
    line-height: 45px;
    color: #f2c76e;
    font-size: 1.1rem;
    padding-top: 0.3em;
    padding-left: 0.3em;
}

.imhome {
    text-align: centre;
    line-height: 45px;
    color: #bd9dea;
    font-size: 1.1rem;
    padding-top: 0.3em;
    padding-left: 0.3em;
}

.chat {
    text-align: centre;
    line-height: 45px;
    color: #7a77b9;
    font-size: 1.1rem;
    padding-top: 0.3em;
    padding-left: 0.3em;
}

.fillheart {
    text-align: centre;
    line-height: 45px;
    color: #e9516b;
    font-size: 1.1rem;
    padding-top: 0.3em;
    padding-left: 0.3em;
}

.livestream {
    text-align: centre;
    line-height: 45px;
    color: #0D0A06;
    font-size: 1.1rem;
    padding-top: 0.3em;
    padding-left: 0.3em;
}

.settings {
    text-align: centre;
    line-height: 45px;
    color: #0D0A06;
    font-size: 1.1rem;
    padding-top: 0.3em;
    padding-left: 0.3em;
}

.bookmarked {
    text-align: centre;
    line-height: 45px;
    color: s#ebadb7;
    font-size: 1.1rem;
    padding-top: 0.3em;
    padding-left: 0.3em;
}
*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bodywrapper {
  width: 95%;
}

.bodywrapper > nav {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 2%;
}

.img {
  width: 160px;
  margin-right: 45px;
}

.searchbox {
  background-color: #e2e1e1;
  width: 250px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.searchbox i {
  color: #585858;
}

.searchbox input {
  width: 100%;
  background: transparent;
  padding: 10px;
  outline: none;
  border: 0;
}

.searchbox input::-webkit-input-placeholder {
  color: #585858;
  font-weight: 500;
}

.searchbox input:-ms-input-placeholder {
  color: #585858;
  font-weight: 500;
}

.searchbox input::-ms-input-placeholder {
  color: #585858;
  font-weight: 500;
}

.searchbox input::placeholder {
  color: #585858;
  font-weight: 500;
}

.top > i {
  color: #000;
  font-size: 1.3rem;
  justify-items: flex-end;
}

#home {
  color: #7a77b9;
}

#messages {
  color: #ea7186;
}

#settings {
  color: #1f1f1f;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 5%;
  border-right: 1.25px solid #d8d8d8;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 13rem;
  height: calc(100vh - 26rem);
}

.left > * {
  font-size: 1.25rem;
}

̀
.mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: calc(100vh - 3rem);
}

̀
.mainContent .profileSect {
  border-left: 1px solid #a9a9a968;
}

.postCollection {
  margin: 0;
  padding: 0;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post {
  font-size: 0.75rem;
  width: 20em;
  font-family: "Roboto";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1.2px solid #a9a9a968;
  border-radius: 1em;
  padding: 1em;
  margin-left: 1.25em;
  margin-top: 1.5em;
}

.pic {
  padding-block: 1.2em;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icons i {
  font-size: 1.25em;
}

.changes > i {
  padding: 0.2em;
}

.comments h6 {
  margin: 0;
  margin-top: 1em;
  font-size: 1em;
  font-weight: 400;
}

.comments h6 span {
  font-size: 1.1em;
  font-family: "Roboto";
  font-weight: 800;
}

.comments h6 a {
  font-size: 0.85em;
  margin-left: 0.2em;
  color: black;
}

.comments p {
  margin: 0;
  margin-block: 0.5em;
  font-size: 0.75em;
  color: grey;
  padding-left: 0.7em;
}

#user {
  color: rgba(0, 0, 0, 0.849);
  font-size: 2em;
}

#more {
  font-size: 1.5em;
  margin-top: 0.25em;
}

.account-detail > h5 {
  margin: 0.6em;
  font-size: 0.7rem;
  font-weight: bold;
}

.account-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  width: 42em;
  border: 0.1em solid #646464;
  margin-inline: auto;
  font-family: "Roboto";
  margin-top: 3em;
  height: 30em;
}

.main-header {
  background-color: #ebadb7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 3.5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header img {
  border-radius: 1.5em;
  width: 2.25em;
  height: 2.25em;
  margin-top: 0.5em;
  margin-left: 0.3em;
}

.main-header h3 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0.8em;
}

.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat-left {
  border-right: 0.07em solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 16em;
  height: 26.5em;
}

.chat-left .chat-left-header {
  width: 100%;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 00.07em solid #000;
}

.chat-left .chat-left-header h4 {
  margin: 0.5em;
}

.chat-left .chat-left-header i {
  font-size: 1.1em;
  margin: 0.5em;
}

.chat-left .chat-left-list .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16.125em;
  height: 3.6em;
}

.chat-left .chat-left-list .list img {
  border-radius: 1.125em;
  width: 2.25em;
  height: 2.25em;
  margin-inline: 1em;
  margin-top: 0.5em;
}

.chat-left .chat-left-list .list h5 {
  margin-top: 1.5em;
}

.chat-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 26.5em;
  width: 26em;
}

.chat-right .chat-right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.07em solid #000;
  height: 2.2em;
}

.chat-right .chat-right-header img {
  border-radius: 1.125em;
  width: 1.4em;
  height: 1.4em;
  margin-inline: 1em;
  margin-top: 0.5em;
}

.chat-right .chat-right-header h5 {
  margin-top: 0.8em;
}

.chat-right-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 00.5em;
  height: 21em;
}

.recieved-chats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-left: 00.2em;
  height: 3em;
}

.recieved-chats-img img {
  width: 2em;
  height: 2em;
  border-radius: 25em;
}

.recieved-chats-msg {
  margin-left: 0.2em;
}

.recieved-chats-msg .recieved-chats-inbox {
  border-radius: 1.125em;
  border: 0.125em solid #ebadb7;
}

.recieved-chats-msg .recieved-chats-inbox p {
  margin: 0.2em;
  font-size: 0.8em;
}

.recieved-chats-msg span {
  font-size: 0.6em;
  color: gray;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.outgoing-chats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  margin-right: 00.2em;
}

.outgoing-chats-msg {
  margin-right: 0.2em;
}

.outgoing-chats-msg .outgoing-chats-inbox {
  border-radius: 1.125em;
  border: 0.125em solid #ebadb7;
  background-color: #ebadb7;
  margin-left: 20.7em;
}

.outgoing-chats-msg .outgoing-chats-inbox p {
  margin: 0.2em;
  font-size: 0.8em;
}

.outgoing-chats-msg span {
  margin-left: 29em;
  font-size: 0.6em;
  color: gray;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.outgoing-chats-img img {
  border-radius: 1.5em;
  width: 2.25em;
  height: 2.25em;
  margin-bottom: 1em;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 3em;
}

.input-group input {
  height: 2em;
  width: 21em;
  border-radius: 2em;
  border: 0.1em solid #000;
  padding-left: 0.5em;
}

.input-group input::-webkit-input-placeholder {
  font-weight: 200;
}

.input-group input:-ms-input-placeholder {
  font-weight: 200;
}

.input-group input::-ms-input-placeholder {
  font-weight: 200;
}

.input-group input::placeholder {
  font-weight: 200;
}

.input-group-text {
  margin-left: 0.5em;
  font-size: 1.25em;
}

.input-group-append {
  margin-top: 0.5em;
}

.profile {
  margin-top: 2rem;
  width: 25rem;
  font-family: "Roboto";
  height: 40em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.profile .head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile .head i {
  font-size: 3rem;
}

.profile .head .propic {
  width: 4rem;
  border-radius: 1000rem;
  border: 0.25rem solid #ea7186;
}

.profile .head h4 {
  text-align: center;
  font-weight: 700;
  margin-block: 1rem;
  font-size: 1.25rem;
}

.profile .head button {
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0.25rem;
}

.profile .center {
  width: 90%;
  margin-inline: auto;
}

.profile .center h6 {
  font-size: 1.25rem;
  margin-bottom: 0;
}

.profile .center p {
  font-weight: 300;
  line-height: 1.35rem;
  color: #505050;
}

.profile .tail {
  padding-inline: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile .tail button {
  width: 90%;
  padding-block: 0.65rem;
  padding-inline: 2.25rem;
  background: #f2709c;
  background: linear-gradient(135deg, #f2709c 0%, #ff9472 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2709c",endColorstr="#ff9472",GradientType=1);
  border: none;
  border-radius: 0.25rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.profile .tail .write-post-container {
  width: 100%;
  border-radius: 0.3em;
  padding: 1.2em;
  background-color: #ea71854b;
}

.profile .tail .write-post-container h4 {
  margin: 0;
}

.profile .tail .write-post-container .post-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0.5em;
}

.profile .tail .write-post-container .post-input-container textarea {
  width: 80%;
  height: 2em;
  resize: none;
  border: none;
  border-bottom: 0.2em solid;
  margin-bottom: 1em;
}

.profile .tail .write-post-container .post-input-container form {
  margin-bottom: 1em;
}

.profile .tail .write-post-container .post-input-container form label {
  font-size: 0.8em;
}

.profile .tail .write-post-container .post-input-container .post-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile .tail .write-post-container .post-input-container .post-text textarea {
  width: 100%;
  height: 2em;
  resize: none;
  border: none;
  border-bottom: 0.2em solid;
}

.profile .tail .write-post-container .post-input-container .post-text i {
  font-size: 1.25em;
  margin-left: 0.5em;
  margin-top: 0.3em;
}
/*# sourceMappingURL=index.css.map */